body {
  background-image: url(../Image/VOTING.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
  background-position: center;
  position: relative;
}

.container {
  margin: 30px;
  background-color: black;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60);
}

.apphead a {
  float: left;
  background: green;
  width: 1200px;
  color: white;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;
}

.appcontent {
  color: white;
}

.black {
  background-color: black;
}

.welcome {
  color: white;
  padding-left: 5px;
  margin-top: 10px;
}

.para {
  border: solid 1px white;
  border-radius: 1em;
  padding: 2px;
  font-style: italic;
  font-family: sans-serif;
  width: 73%;
}

.pic {
  border: dotted 1px;
  padding-left: 6px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border: solid 2px;
  border-color: white;
  border-radius: 2em;
  padding: 25px;
}

.card h1 {
  font-style: italic;
  font-family: monospace;
  background-color: green;
  border-radius: 2.5em;
}

.card a {
  color: #93040b;
  font-size: 20px;
}

.cardlinks a {
  text-decoration: none;
  background-color: white;
  border-radius: 2.5em;
  padding: 5px;
}
.cardlinks a:hover {
  background-color: green;
}

footer {
  clear: both;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  padding-top: 5px;
  background: green;
  color: white;
}

.leftpanel {
  width: 1200px;
  float: left;
  border: solid 1px green;
  padding: 10px;
  background: black;
}

.rightpanel {
  width: 300px;
  float: right;
  background: black;
}

/* Sign up and log in */
.signhead {
  text-align: center;
}
.signhead h2 {
color: #32b215;
font-size: 40px;
}
.signhead p {
  color: white;
}

.signer {
  border-radius: 5px;
  background-color: #fff3ee;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.signer label {
  width: 100%;
  display: block;
  font-weight: lighter;
  line-height: 0.6;
  color: #000;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px #fff;
  margin: 4px;
}

.signer input[type=text] {
  width: 100%;
  padding: 5px; 8px;
  font-size: 1.6em;
  color: black;
  border: #51d633 1px solid;
  background-color: white;
  -webkit border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.signer input[type=password] {
  width: 100%;
  padding: 5px; 8px;
  font-size: 1.6em;
  color: black;
  border: #51d633 1px solid;
  background-color: white;
  -webkit border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.signer input[type=submit] {
    width: 100%;
    background-color: #125404;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #57ea35;
}

.signer a {
  color: #125404;
  text-decoration: none;
}
.signer a:hover {
  color: lime;
}
.signer p {
  text-align: center;
}
.signer p i {
  color: grey;
}

/*Nav Bar*/
.navbar {
  background: black;
  display: inline;
  width: 200px;
  float: left;
  text-align: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-style: italic;
}
.navbar #admin {
  background-color: green;
  cursor: pointer;
  color: white;
  border-right: 2px solid white;
  padding-right: 10px;
  text-align: center;
}
.navbar:hover #admin {
  background-color: black;
}
.navbar:hover #applyoffice {
  background-color: grey;
}

/*User Dashboard*/
.containeruser {
  clear: both;
  color: white;
  background: black;
  opacity: 0.9;

}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td{
  border: 1px solid red;
}

th, td {
  padding: 5px;
}

td {
  height: 50px;
  vertical-align: bottom;
  text-align: center;
}

.dropbuttons {
  background-color: red;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.otherlinks {
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: 17px;
}

.drop-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a {
  color: black;
  padding: 10px 14px;
  display: block;
}

.drop-content a:hover {background-color: grey;}

.otherlinks:hover .drop-content {
  display: block;
}

.otherlinks:hover .dropbuttons {
  background-color: black;
}

.containeruser h3 {
  color: red;
}

/*Buttons on Admin*/
.table {
  width: 49%;
  float: left;
  background-color: black
}

.officeright {
  width: 49%;
  float: right;
  background-color: black;
}

.btn {
    border-radius: 2px;
    border: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}
.edit{
  background-color: #00bfff;
}
.edit:hover {
  background-color: black;
}

.delete{
  background-color:  red;
}
.delete:hover {
  background-color: #000000;
}
.row {
  background-color: #00bfff;
}
.row:hover {
  background-color: black;
  color: white;
}
.row a {
  text-decoration: none;
  color: white;
}

/*formformats*/
.formformat {
  border-radius: 3px;
  background-color: #fff3ee;
  padding: 16px;
  width: 350px;
  margin: 0 auto;
}

.formformat label {
  width: 100%;
  display: block;
  font-weight: lighter;
  line-height: 0.6;
  color: #000;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px #fff;
  margin: 4px;
}

.formformat input[type=text] {
  width: 350px;
  padding: 3px; 6px;
  font-size: 1.6em;
  color: black;
  border: #51d633 1px solid;
  background-color: white;
  -webkit border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.formformat input[type=submit] {
    width: 350px;
    background-color: #125404;
    color: white;
    padding: 10px 14px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #57ea35;
}

.formformat a {
  color: #125404;
  text-decoration: none;
}
.formformat a:hover {
  color: lime;
}
.formformat p {
  text-align: center;
}
.formformat p i {
  color: grey;
}

/*aspirants formats*/
.aspformat {
  border-radius: 3px;
  background-color: #fff3ee;
  padding: 16px;
  width: 1050px;
  margin: 0 auto;
}

.aspformat select {
  width: 100%;
  border: #51d633 1px solid;
   padding: 3px; 6px;
  font-size: 1.6em;
  border-radius: 2px;
}

.aspformat h4 {
  width: 100%;
  display: block;
  font-weight: lighter;
  line-height: 0.6;
  color: #000;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px #fff;
  margin: 4px;
}

.aspformat input[type=text] {
  width: 100%;
  padding: 3px; 6px;
  font-size: 1.6em;
  color: black;
  border: #51d633 1px solid;
  background-color: white;
  -webkit border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.aspformat input[type=submit] {
    width: 100%;
    background-color: #125404;
    color: white;
    padding: 10px 14px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #57ea35;
}

.aspformat a {
  color: #125404;
  text-decoration: none;
}
.aspformat a:hover {
  color: lime;
}
.aspformat p {
  text-align: center;
}
.aspformat p i {
  color: grey;
}
.errors {
  color: #ae5856;
}
#allerrors {
  text-align: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.white {
  color: white;
  padding: 2px;
  margin: 2px;
}

.confirm {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}
